<body>


  <div id="page">
    <div class="logo">
      <ion-icon name="logo-octocat"></ion-icon>

    </div>
    <div class="content">
      <div class="left">
        <div class="title">
          <h1></h1>

        </div>
        <p></p>
      </div>
      <div class="right">
        <form id="form" method="post" action="/register">
          <h1>REGISTER</h1>
          <div class="mb-3 mt-3" id="email">
            <input type="email" placeholder="Username" name="email">
          </div>
          <div class="mb-3" id="pass">
            <input type="password" placeholder="Password" id="pwd" name="password">
          </div>

          <button type="submit" class="btn btn-primary">REGISTER</button>
        </form>
      </div>
    </div>

  </div>

</body>