<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
  .heading {
    background-color: black;
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  .list {
    background-color: aqua;
    color: black;
    padding: 15px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    margin-top: 3%;
    font-size: larger;
    font-weight: bolder;
    flex-direction: column;
  }

  ,
  .body {
    padding-top: 10%;
    position: fixed;

  }

  .tag {
    padding: 20px;
    margin-left: 10px;
    font-size: larger;
    font-weight: bolder;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ,
  .tag:hover {
    background-color: bisque;
    color: black;
  }

  ,

  .bg-header {
    background-color: black;
  }

  ,
  .bg-body {
    background-color: aliceblue;
  }

  ,
  .bg-footer {
    background-color: black;
  }

  ,
  #stag {
    font-size: larger;
    font-weight: bolder;
  }
</style>

<head class="bg-header">
  <title>{{title}}</title>
  {{!--
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="stylesheet" href="/stylesheets/themmoi.css">
  <link rel="stylesheet" href="/stylesheets/chitietsanpham.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/sanpham.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> --}}
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!--JQUERY-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <div class="heading">
    <a class="tag" href="/cpanel/product">Diễn đàn</a>
    <a class="tag" href="/cpanel/product/new">Đăng bài</a>
    <a style="padding-left: 65%;" href="/login" class="tag">Đăng nhập</a>
    <a class="tag" href="/register">Đăng ký</a>
  </div>

  <div class="list">
    <div>
      <form action="/cpanel/product/fil" method="post">

        <label for="sort">Chủ đề</label>

        <select name="sort" id="sort">
          <option id="stag" value="64316da7fc13ae67c269e0a2">Tìm thú cưng đi lạc hehe</option>
          <option id="stag" value="64316da7fc13ae67c269e0a5">Nhận nuôi thú cưng</option>
        </select>
        <button type="submit">Lọc</button>
      </form>
    </div>
  </div>

</head>

<body class="bg-body">
  <div class="body">
    {{{body}}}
  </div>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="/javascripts/login.js"></script>
</body>
<footer class="bg-footer">

</footer>

</html>